

body {
  width: 100%;
  background-color: #e37222;
  color: rgb(225, 225, 225);
  font-family: "Artifika", serif;
}

.navigation {
  position: fixed;
  width: 100%;
  margin-top: -150px;
  margin-left: -8px;
  background-color: #018b95;
}

.header {
  float: left;
}

#logo {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(225, 225, 225);
}

.logojquery {
  border: 5px solid #e37222;
}

.header img {
  margin-left: 0.7em;
}

.header li {
  float: left;
  display: inline;
  margin-top: 0.8em;
}

.firstul {
  margin-left: 25em;
  margin-top: 1em;

}

.firstul li {
  margin-left: 4em;
  font-size: 21px;
}

.lijquery {
  border: 2px rgb(225, 225, 225);
  border-style: solid dotted;
  padding: 5px;

}

.bio {
  padding: 30px;
  width: 90%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;

}

.bio ul {
  margin-top: 0;
  margin-left: 2em;
  display: inline-block;
  text-align: center;
  list-style: none;
  font-size: 21px;
}


#left {
  position: absolute;
  top: 650px;
  left: 10px;
}

#right {
  position: absolute;
  top: 650px;
  right: 375px;
}



#name {
  list-style: none;
  margin: auto;
  font-size: 30px;
}

#portrait {
  border-radius: 75%;
  margin-left: 100px;

}

#carousel {
  border-radius: 5%;
  margin-left: 3.5em;

}

.carousel {
  height: 600px;
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
}
