body {
  /*background: rgb(225, 225, 225);*/
  margin-top: -9.375em;
  width: 100%;
  color: rgb(225, 225, 225);
  font-family: "Artifika", serif;
}

.navigation {
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 5em;
  margin-top: -5em;
  margin-left: -0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #018b95;
}

#logo {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(225, 225, 225);
  transition: border 0.25s;
}

.header {
  float: left;
}

.logojquery {
  border: 5px solid #e37222;
}

.firstul {
  margin-left: -5em;
  margin-top: 0.5em;
}

.firstul li {
  cursor: pointer;
  display: inline;
  margin-left: 8em;
  font-size: 1.125em;
  transition: border 0.25s, border-style 0.25s, padding 0.25s;
}

.lijquery {
  border: 0.125em rgb(225, 225, 225);
  border-style: solid dotted;
  padding: 0.3125em;
}

.bio {
  padding: 4em 1.875em;
  height: auto;
  margin-bottom: 3.125em;
  margin-left: -1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e37222;
}

.bio ul {
  max-width: 646.43px;
  min-width: 200px;
  text-align: center;
  list-style: none;
  font-size: 0.9375em;
  font-weight: 100;
  letter-spacing: 0.25em;
}

#left {
  position: absolute;
  top: 1150px;
  left: 2px;
  display: none;
}

#right {
  position: absolute;
  top: 1150px;
  right: 404px;
  display: none;
}



#name {
  list-style: none;
  font-size: 3.125em;
  letter-spacing: -0.1em;

}

#portrait {
  border-radius: 75%;
}

 .parallax-inner0, .parallax-inner1, .parallax-inner2, .parallax-inner3, .parallax-inner4, .parallax-inner5 {
  height: 3.75em;
  width: 7.5em;
  margin: auto;
  background-color: rgb(225, 225, 225);
  border-radius: 25%;
  color: #018b95;
  font-size: 1.875em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.25s, background-color 0.25s;
}

.parallax-inner0, .parallax-inner1, .parallax-inner4, .parallax-inner5 {
  font-size: 75px;
  font-weight: bold;
  height: 2em;
  width: 4em;
}

 .parallax0, .parallax1, .parallax2, .parallax3, .parallax4, .parallax5 {
  margin-top: -3.125em;
  margin-left: -0.5em;
  padding: 10em 0;
  background: url("Road.jpg") repeat fixed;
  background-size: cover;
}

.parallax-inner0 {
  width: 5.5em;
}

.parallax-inner5 {
  width: 4.5em;
}

.parallax0 {
  height: 11em;
  margin-top: 14.375em;
  padding: 10em 0;
  background: url("Welcome.jpg") repeat fixed;
  background-size: cover;
}

.parallax4 {
  background: url("Road.jpg") repeat fixed;
  background-size: cover;
}

.parallax5 {
  background: url("Contact.jpg") no-repeat fixed;
  background-size: cover;
}

.parallaxjquery {
  background-color: #e37222;
  color: rgb(225, 225, 225);
}

#carousel {
  border-radius: 5%;
  margin-left: 0em;
}

.skills {
  margin-top: 125px;
  /*width: 35%;
  height: 20%;*/
}

.skill-title, .skill-title2, .skill-title3, .skill-title4 {
  margin-left: -8em;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 60px;
  letter-spacing: 0.3em;
}

.skill-title2 {
  margin-left: -8em;
}

.skill-title3 {
  margin-left: -9em;
}

.skill-title4 {
  margin-left: -4.16em;
}

.skill-title4 span {
  font-size: 20px;
  letter-spacing: -0.1em;
}

.skill-info {
  margin-left: 1%;
  max-width: 500px;
  min-width: 200px;
  list-style: square;
}


#info1 {
  margin-top: 4em;
}

#info2 {
  margin-top:2.6em;
}

#info3 {
  margin-top: 2.7em;
}

#info4 {
  margin-top: 3em;
}

.carousel, .carousel2, .carousel3, .projecttitle {
  min-height: 600px;
  height: auto;
  background-color: rgb(225, 225, 225);
  color: #e37222;
  display: flex;
  margin-left: -8px;
  justify-content: center;
}

.carousel ul, .carousel2 ul {
  max-height: 530px;
}

.carousel2 {
  background-color: #e37222;
  color: rgb(225, 225, 225);
}

.carousel3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.projecttitle {
  font-size: 60px;
  min-height: 50px;
  margin-bottom: -0.75em;
}

.projecttitle span {
  margin-left: 0.5em;
  letter-spacing: 0.3em;
}

.frontend, .backend {
  margin: 0 1em;
  margin-top: -2em;
  border: 5px solid black;
  height: 400px;
  width: 400px;
}

.frontend ul, .backend ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.frontend li, .backend li {
  font-size: 25px;
}

li.codetype {
  font-size: 40px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.final {
  text-decoration: underline;
}

.html {
  margin-left: -0.25em;
  margin-right: 0.3em;
}

.css {
  margin-left: 0.5em;
}

.javascript {
  display: inline;
  margin-left: 2.5em;
  margin-top: -1em;
}

.ruby {
  margin-right: 0.3em;
}

.rails {
  margin-left: 0.3em;
}

.jit {
  margin-left: 4.5em;
  margin-top: -0.75em;
}

.contact {
  padding: 5% 5% 1% 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
  color: #e37222;
}

.email {
  font-size: 30px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 225, 225);
  color: black;
}

#jithub {
  margin: 0 3%;
}

@media only screen and (max-width: 890px) {
  .firstul li {
    margin-left: 5em;
  }
}

@media only screen and (max-width: 860px) {
  .frontend li, .backend li {
    font-size: 20px;
  }

  li.codetype {
    font-size: 30px;
  }

  .jit {
    margin-left: 2.5em;
  }

  .javascript {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 836px) {
  .carousel, .carousel2 {
    min-height: 650px;
  }

  #info1, #info2, #info3, #info4 {
    margin-top: 0.5em;
  }

  .skill-title, .skill-title2, .skill-title3, .skill-title4 {
    margin-left: -5em;
  }

  .skill-title2 {
    margin-left: -5.5em;
  }

  .skill-title3 {
    margin-left: -5.5em;
  }

  .skills {
    height: 200px;
    width: 300px;
  }
}

@media only screen and (max-width: 730px) {
  .javascript {
    margin-left: 1.2em;
  }
}

@media only screen and (max-width: 680px) {
  .firstul li {
    margin-left: 3em;
  }
}
